

@mixin bg($url) {
	background-image: url($url);
	background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin bg-top($url) {
    background-image: url($url);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@mixin bg-left($url) {
    background-image: url($url);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

@mixin flex-center {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items:center;
    justify-content: center;
}

@mixin clear-box {
    &:before,
    &:after{ content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0;}
    &:after{ clear: both; }
}

@mixin border-box {
    -wekit-box-sizing: border-box;
    box-sizing: border-box;
}

$g_bodyPaddingLeft: 20px;

$g_navAsideWidth: 220px;


